<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Ionic is Wonderful
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" size-xs="12">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius modi, aspernatur, deleniti cumque eaque
        temporibus sequi architecto omnis suscipit rerum incidunt recusandae officiis quibusdam a quas autem, nulla sit
        corporis?
      </ion-col>
      <ion-col>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius modi, aspernatur, deleniti cumque eaque
        temporibus sequi architecto omnis suscipit rerum incidunt recusandae officiis quibusdam a quas autem, nulla sit
        corporis?
      </ion-col>
      <ion-col>Hello everyone!</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="warning">
    <ion-title>
      Ionic is Wonderful
    </ion-title>
  </ion-toolbar>
</ion-footer>